@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap");

* {
    font-family: "Noto Naskh Arabic", serif;
}


::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
